@import 'src/theme/colors';

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url(../../assets/fonts/Oswald/Oswald.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  background-color: $primaryBlueLight-100;
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Oswald', sans-serif;
}