.searchInputContainer {
  display: flex;
  width: 85%;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.inputContainer {
  margin-right: 48px;
  input[type="text"] {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
  }
}

.input {
  height: 40px;
  width: 140px;
  background-color: #FFFFFF;
}

.selectContainer {
  @media screen and (max-width: 385px) {
    margin-top: 12px;
  }
}