@import 'src/theme/colors';

.paginationItem {
  min-width: 40px;
  min-height: 40px;
  background-color: $primaryWhite;
  border: 1px solid $secondaryBluePale-40;
  box-shadow: $characterTableShadow;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &:not(:last-child) {
    margin-right: 4px;
  }

  &:hover {
    border-color: $secondaryBluePale-100;
  }
}

.selectedItem {
  background-color: $secondaryBluePale-10;
  box-shadow: $characterTableSelectedPageShadow;
  border: 1px solid $secondaryBluePale-40;
}