@import 'src/theme/colors';

.container {
  display: flex;
}

.icon {
  padding-right: 8px;
  display: flex;
  align-self: center;

  svg {
    width: 20px;
    height: 20px;
  }
}

.status {
  font-weight: 600;
  font-size: 14px;
  color: $primaryAnthracite-100;
}

.unknownStatus {
  color: $primaryAnthracite-70;
}