@import 'src/theme/colors';

.separator {
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  color: $primaryAnthracite-80;
}