@import 'src/theme/colors';

.container {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 85%;
  min-height: 525px;
}

.table {
  background-color: $primaryWhite;
  border-radius: 5px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 43px;
  box-shadow: $characterTableShadow;

  th {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    line-height: 18.2px;
    color: $primaryAnthracite-80;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  tr {
    border: 1px solid $secondaryBluePale-15;

    & > th {
      border-bottom: 1px solid $secondaryBluePale-30;
    }

    & > td {
      border-bottom: 1px solid $secondaryBluePale-15;
    }

    &:hover {
      background-color: $secondaryBluePale-10;
      cursor: pointer;
    }
  }

  td {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: $primaryAnthracite-100;

    > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: inherit;
    }
  }

  th input, td input {
    width: 18px;
    height: 18px;
  }

  .grayBackground {
    background-color: $secondaryBluePale-5;

    td {
      color: $primaryAnthracite-70;
    }
  }
}

.checkboxContainer {
  width: 18px;
  padding-left: 24px;
  padding-right: 12px;

  input {
    cursor: pointer;
  }
}